/* Base CSS */


*{
    margin: 0;
    padding: 0;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Lato', sans-serif;
}
a:hover { text-decoration: none }


/*================================
start custom code here
==================================*/
html, body{
    height: 100%
}
.welcome-area{
    background-image: url(../img/radio.jpg);
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.welcome-area:after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(256,256,256,0.3);
    content: "";
    z-index: -1;
}
.logo img{
    max-width: 40px;
    padding-right: 5px;
}
.logo a{
    color: #EB3855;
}
.logo h1{
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}
.mainmenu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainmenu ul li{
    display: inline-block;
}
.mainmenu li.bordered  a{
    border: 1px solid #EF4043;
    color: #EF4043;
    font-weight: 700;
}
.mainmenu ul li a{
    display: block;
    padding: 10px 25px;
    border-radius: 50px;
    text-transform: uppercase;
    color: #2c3e50;
    transition: .3s;
}
.mainmenu ul li a:hover{
    color: #333;
    border-color: #666;
}
.logo{
    margin-top: 1px;
}
.header-area{
    padding: 25px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}
.copyright-area {
  background: #333;
  font-size: 14px;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}
.copyright-area, .copyright-area a {
  color:  #999;
}
.copyright-area ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.copyright-area ul li{
    display: inline-block;
    padding-left: 30px;
}
.copyright-area ul li a{
    transition: .3s;
}
.copyright-area ul li a:hover{
    color: #FFFFFF;
}
.hero-area-table{
    display: table;
    width: 100%;
    height: 100%;
}
.hero-area-tablecell{
    display: table-cell;
    vertical-align: middle;
}
.hero-text{
    font-size: 18px;
    line-height: 1.2;
    color:#42413E;
}

.hero-text h1{
    font-size: 50px;
    font-weight: 900;
    line-height: 70px;
}
.hero-text p{
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}
.email-subscribe-form p{
    font-size: 15px;
}
.email-subscribe-form{
    margin-top: 50px;
    font-size: 14px;
    max-width: 550px;
}
.email-subscribe-form input[type="email"]{
    background: #fff;
    padding: 16px;
    border: none;
    font-weight: 400;
    border-radius: 5px;
    width: 55%;
    margin-right: 2%;
}
.email-subscribe-form button[type="submit"]{
    background: #EF4043;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 16px 27px;
    border-radius: 5px;
}
.social-icons a {
  color: #333;
  margin-top: 10px;
  display: inline-block;
  padding-right: 10px;
  font-size: 20px;
  transition: .3s;
}
.social-icons a:hover i.fa-facebook{
    color: #3A589E;
}
.social-icons a:hover i.fa-google-plus{
    color: #DF4B37;
}
.social-icons a:hover i.fa-twitter{
    color: #429CD6;
}

